<div id="faq-container">
    <h2 class="faq-header">Frequently Asked Questions</h2>
    <mat-accordion class="faq-accordion" multi>
        <!-- FAQ 1 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What is a Healthcare Hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>A hackathon is an event where people come together to work collaboratively in teams on a healthcare problem with expert mentor support using technology to drive innovative solutions. Participants work on solving a problem and building a solution over a set period of time. The Rutgers Health Hack will begin on Friday evening 6PM and continue until Sunday Evening 6 PM for a total of 48 hrs.</p>
        </mat-expansion-panel>

        <!-- FAQ 2 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Do I need to be in college or at Rutgers to participate?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>No, the event is open to everyone, regardless of their educational institution. We encourage a multi-institutional multi-level environment as that brings diversity of thought and expertise to drive innovation. You must be 18 years or older to participate.</p>
        </mat-expansion-panel>

        <!-- FAQ 3 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Who can participate in a hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Hackathons are open to anyone who is interested, regardless of their background or skill level. We strongly encourage participation from clinical backgrounds like medicine/surgery, pharmacy, nursing as well as from technology backgrounds like computer science, software engineering, and biomedical/mechanical engineering, as well as those with backgrounds from business, finance, law, policy, administration.</p>
        </mat-expansion-panel>

        <!-- FAQ 4 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What do I need to bring to a hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>You should bring any necessary equipment, such as a laptop or tablet, surge protector, extension cord, as well as any materials or tools that you may need to work on your project. Food and drinks are often provided, but it’s a good idea to bring some snacks and water as well.</p>
        </mat-expansion-panel>

        <!-- FAQ 5 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What should I expect at a hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>At a hackathon, you can expect to work closely with other participants and mentors to build a project or prototype. You may attend workshops or talks on specific topics, and there will be judging or presentations at the end of the event. Event details will be available in the event details tab.</p>
        </mat-expansion-panel>

        <!-- FAQ 6 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What are the benefits for an individual participating in a hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Hackathon participants are likely to not only have fun working on cutting edge problems, but learn new skill sets while networking and discovering career opportunities. Top teams will achieve recognition and rewards for their effort including prize money.</p>
        </mat-expansion-panel>

        <!-- FAQ 7 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Do I need to have coding experience to participate in a hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>While having coding experience can be helpful, it is not necessary as a diverse team will have participants with different expertise. Many hackathons are open to people with a variety of skills, including clinical medicine/surgery, business, design, marketing, and project management.</p>
        </mat-expansion-panel>

        <!-- FAQ 8 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What do I do if I don’t have a team for a hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Most participants will not have teams entering the hackathon. Rutgers Health Hack will have team formation activities. You can also attend the event and network with other participants to find a team.</p>
        </mat-expansion-panel>

        <!-- FAQ 9 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What happens to the projects after the hackathon is over?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>The outcome of the projects can vary, some may continue to be developed by the same team, or they may be abandoned. In some cases, the projects may be presented to investors, incubators, or accelerators for further development.</p>
        </mat-expansion-panel>

        <!-- FAQ 10 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Is the event free?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Yes, the event is completely free for all participants. However, we do not offer lodging or transportation.</p>
        </mat-expansion-panel>

        <!-- FAQ 11 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What if I cannot participate all 3 days?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>All participants are required to be available on-site for all three days as this ensures everyone gets the most out of the event. However, if you want to participate but have a conflict, please email ruhealthhack@gmail.com and we will see if there is still a way to allow you to participate.</p>
        </mat-expansion-panel>

        <!-- FAQ 12 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>What should I prepare for the Hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Come with an open mind and a willingness to collaborate. It’s helpful to have a laptop and any specific software you might need for your work. There will be reading materials, resources, and videos on this website that will be available for you to review prior to the hackathon. Please make yourself familiar with these so that you can make the most of the hackathon experience.</p>
        </mat-expansion-panel>

        <!-- FAQ 13 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Do you provide lodging/transportation?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>No we are unfortunately unable to provide lodging/transportation.</p>
        </mat-expansion-panel>

        <!-- FAQ 14 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Will there be technology support at the Hackathon?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Yes, we will have technology support from Microsoft, Amazon Web Services, Oracle, and Nokia Bell Labs.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
