<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false"
      position="end">  <!-- This makes the sidenav appear on the right -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/leadership" (click)="drawer.close()">Leadership</a>
      <a mat-list-item routerLink="/home">Home</a>

      <!-- <a mat-list-item routerLink="" fragment="themes-section" (click)="drawer.close()">Themes</a> -->
      <a mat-list-item routerLink="/brochure">Event Details</a>
      <a mat-list-item routerLink="/faq">FAQs</a>
      <a mat-list-item routerLink="/mentors">Mentors</a>

      <!-- <a mat-list-item routerLink="/contactus">Contact Us</a> -->
      <a mat-list-item routerLink="/resources">Resources</a>
      <a mat-list-item routerLink="/portal">Register</a>


    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="spacer" (scroll)="onScroll($event)">
    <mat-toolbar class="topbar" color="primary">
      <button
        *ngIf="showSidenavButton"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        style="margin-right: auto;"> <!-- Aligns the button to the left -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span routerLink="/" style="display: flex; align-items: center;">
        <img src="assets/images/healthhack2.jpeg" alt="Rutgers Health Hack" class="titlebutton" />
        <span class="date-text" style="font-size: 1.5rem; margin-left: 10px;">October 10-12, 2025</span>
      </span>
      

      <span class="fill-space" *ngIf="!showSidenavButton"></span>
      
      <div *ngIf="!showSidenavButton" class="buttons-container">
        <a mat-button class="buttons" routerLink="/home">Home</a>
        <a mat-button class="buttons" routerLink="/brochure">Event Details</a>
        <a mat-button class="buttons" routerLink="/leadership">Leadership</a>
        <!-- <a mat-button class="buttons" routerLink="" fragment="themes-section">Themes</a> -->
        <a mat-button class="buttons" routerLink="/mentors">Mentors</a>
        <a mat-button class="buttons" routerLink="/resources">Resources</a>
        <a mat-button class="buttons" routerLink="/faq">FAQs</a>

        <!-- <a mat-button class="buttons" routerLink="/contactus">Contact Us</a> -->
      <!-- <a mat-button class="register-button" routerLink="/portal">
        <div class="register-content">
          <app-register-cta></app-register-cta>
          <span class="default-text">Register Now</span>
          <span class="hover-text">Click Here!</span>
        </div>
      </a> -->
              </div>
      
    </mat-toolbar>

    <div id="{{showSidenavButton ? 'container2': 'container'}}" *ngIf="adminAuth">
      <ng-content></ng-content>
    </div>

    <mat-card class="homecard" *ngIf="!adminAuth">
      <h2>Under Development</h2>
      <br>
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="pass" (keydown.enter)="pwMatch()">
      </mat-form-field>
      <button mat-raised-button class="titlebutton" color="accent" (click)="pwMatch()">Submit</button>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
