    <h1><u>Code of Conduct</u></h1>
    <h3 class="redtext">Respect The Dignity of All</h3>
    <p>
        Rutgers Health Hack is committed to providing a safe and welcoming space, without regard to age, gender, race, ethnicity, nationality, sexual orientation, 
        gender identity, gender expression, mental or physical disability, physical appearance, neuro(a)typicality, religion, level of knowledge, level of experience, 
        parental status, marital status, socioeconomic status or background, political affiliation, or any other attribute.
        <br>
        <br>
        1. Offensive or Discriminatory behavior/language related to any personal characteristics described above will not be tolerated. <br> <br>
        2. Harassment or Hostility including intimidation, bullying, stalking, unwelcome video recording or photography, inappropriate physical contact, unwelcome sexual attention, or any other unwelcome hostile or sexual behavior toward another person 
        will not be tolerated under any circumstance. <br> <br>
        3. Actions that constitute Harassment, Hostility, Discrimination, or Offensive Behavior, both intentional and negligently unintentional are grounds for personal dismissal from the Hackathon event and/or team disqualification at the sole discretion 
        of Rutgers Hackathon organizing committee. 

    </p>
    <h3 class="redtext">Keep Your Team Open</h3>
    <p>Rutgers Health Hack is committed to bringing together individuals from a diversity of trades to achieve maximal synergy. This is your opportunity to find new strategic partners! Unless explicitly counter-productive to the goals of your project, anybody
        who is interested in your project should be allowed to join it. <br> <br> Egregious violations of this rule that preserve a team size below the maximum may be grounds for team disqualification at the sole discretion 
        of Rutgers Hackathon organizing committee.
    </p>
    <h3 class="redtext">Respect the Opinions and Abilities of Others</h3>
    <p>Rutgers Health Hack is designed as a place for people of all different skill levels and approaches to meet and work together toward common goals. We are all learning together. <br> <br>
        1. Do not assume anybody else's level of expertise or knowledge. <br> <br>
        2. Afford others room to grow: Do not insist on unreasonable expectations for team partners. <br> <br>
        3. Educate others respectfully. <br> <br>
        4. Be mindful of your own limitations and be open to learning from others. <br> <br>
        5. Disagreement is a healthy attribute of any open-minded team. We expect that disagreement is done in a respectful manner and does not violate our Harassment policies. <br> <br>
    </p>
    <mat-divider></mat-divider>
    <h1><u>Rutgers Health Hack Rules</u></h1>
    <h3>Preliminary Overview- Full Terms & Conditions to be agreed on prior to the event.</h3>

    <h3 class="redtext">Teams</h3>
    <p>
        1. You cannot participate solo or as a pair. <br> <br>
        2. If you are solo or in a pair, you can find other members to work with at the Hackathon. <br> <br>
        3. Minimum team size is 3 registered participants. <br> <br>
        4. Maximum team size is 7 registered participants. <br> <br>    
    </p>
    <h3 class="redtext">Your Project</h3>
    <p> Rutgers Health Hack highly encourages the development of brand new ideas, taking advantage of a synergy of diverse backgrounds and trade skills. <br> <br>
        1. <u>Project Submission will consist of three parts:</u> <br> 
            <span class="tab">-A Short live pitch in front of judges and eventgoers </span><br>
            <span class="tab">-A preliminary business plan or production budget </span> <br>
            <span class="tab">-A small packet of supporting diagrams/prototypes/designs/software </span> <br>
            <br> 
        3. The main category and grand prize will be solely for new projects primarily conceived and developed at the Rutgers Health Hack. <br> <br>
        4. Contestants will have the opportunity to meet with two of our "expert mentors" during the course of development for feedback and guidance prior to submission <br> <br>
    </p>
    <h3 class="redtext">Intellectual Property</h3>
    <p> The collaborative process of a Hackathon can be fun, engaging, and ideas generated can make the world a better place. Rutgers Health Hack is committed to clear and precise agreements with contestants that outline the general terms of rights and ownership 
        of ideas and materials created during our event. We strongly urge you to review the general policies below, and the Full Terms & Conditions Document - to be signed in-person at the event. <br> <br>
        1. Individuals are not to participate if they are bound by intellectual property agreements with employers and/or other entities that either prohibit or claim ownership of externally developed materials in a setting such as a Hackathon. <br> <br>
        2. Participants in the competition affirm that their project will be wholly developed during the hackathon event and is free of any concept, design, source code or materials either previously patented, belonging to another third-party,
        containing any private use-licensing, or containing open-source use licensing that prohibits inclusion in a non-open source commercial product. <br> <br>
        3. Participants agree to view and sign the full terms and conditions as a required for admittance into the RU Health Hack Hackathon event. 
    </p>

