<div class="resources-container">
  <section id="tools" class="resources-section">
    <h2>Tools, Workshops, and Other Resources</h2>
    
    <!-- Card with logo -->
    <!-- <div class="resource-card">
      <div class="card-content">
        <img src="/assets/images/cloudforce.png" alt="Cloudforce Logo" class="logo cloudforce">
        <div class="card-text">
          <h3>Pre-Event NebulaOne Workshop for Thursday October 24</h3>
          <p>Cloudforce will do a live webinar on Thursday, October 24th at 7pm with instructions on using NebulaOne (Microsoft) resources</p>
          <a href="https://teams.microsoft.com/dl/launcher/launcher.html?url=%2F_%23%2Fl%2Fmeetup-join%2F19%3Ameeting_MzVlNmVhMGYtYjI3Ny00ZTJlLWE1NDUtMjEzY2Y3OWU2ZjBk%40thread.v2%2F0%3Fcontext%3D%257b%2522Tid%2522%253a%2522c85487db-d5f3-45e1-9158-876d58525ccf%2522%252c%2522Oid%2522%253a%2522e6ef4552-cf39-4e4e-a147-a1abd5385fba%2522%257d%26anon%3Dtrue&type=meetup-join&deeplinkId=f501f085-c5a7-4669-a522-47c8ca83f9ab&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true">Meeting Link</a>
        </div>
      </div>
    </div> -->
    
<div class="workshops-day-card">
  <div class="workshops-day-head">
    <h3>Saturday, October 11</h3>
    <p class="day-location"><strong>Location:</strong> MEB Lecture Hall</p>
  </div>

  <ul class="workshops-list">
    <!-- 10:00 AM -->
    <li class="workshop-item">
      <div class="time-chip">10:00–11:00 AM</div>
      <div class="item-main">
        <div class="item-title">
          <img src="/assets/images/logo1.png" alt="AWS logo" class="item-logo" />
          Amazon Workshop
        </div>
        <div class="item-meta">MEB Lecture Hall</div>
      </div>
    </li>

    <!-- 11:00 AM -->
    <li class="workshop-item">
      <div class="time-chip">11:00 AM–12:00 PM</div>
      <div class="item-main">
        <div class="item-title">
          <img src="/assets/images/logo2.png" alt="Oracle logo" class="item-logo" />
          Oracle Workshop
        </div>
        <div class="item-meta">MEB Lecture Hall</div>
      </div>
    </li>

    <!-- 1:00 PM -->
    <li class="workshop-item">
      <div class="time-chip">1:00–2:00 PM</div>
      <div class="item-main">
        <div class="item-title">
          <span class="vendor-pill">Tech Transfer / OfR Workshop</span>
        </div>
        <div class="item-meta">MEB Lecture Hall</div>
      </div>
    </li>

    <!-- 2:00 PM -->
    <li class="workshop-item">
      <div class="time-chip">2:00–3:00 PM</div>
      <div class="item-main">
        <div class="item-title">
          <span class="vendor-pill">Venture Capital for Start Ups Workshop</span>
        </div>
        <div class="item-meta">MEB Lecture Hall</div>
      </div>
    </li>
  </ul>
</div>


    
    <div class="resource-card">
      <div class="card-content">
        <img src="/assets/images/logo3.png" alt="Microsoft Logo" class="logo microsoft">
        <div class="card-text">
          <h3>Microsoft Azure Health Data and AI Samples Repo</h3>
          <p>Sample apps and code for Azure Health Data and AI services.</p>
          <a href="https://github.com/Azure-Samples/azure-health-data-and-ai-samples">Azure Health Repo</a>
        </div>
      </div>
    </div>
    
    <!-- Another card with no logo -->
    <div class="resource-card">
      <div class="card-content">
        <img src="/assets/images/logo2.png" alt="Cloudforce Logo" class="logo oracle">

        <div class="card-text">
          <h3>Oracle Resources</h3>
          <a href="https://apexapps.oracle.com/pls/apex/r/dbpm/livelabs/home">Oracle Live Labs Workshops and Sprints</a><br>
          <a href="https://www.oracle.com/artificial-intelligence/">OCI AI and Machine Learning Services</a><br>
          <a href="https://www.oracle.com/database/23ai/">Autonomous Database 23ai with LLM and Vector features</a><br>
          <a href="https://www.youtube.com/watch?v=ZtbrcJZIWZY&t=1s">Build an AI Chatbot Oracle Resource Video</a><br>
        </div>
      </div>
    </div>

    <!-- Another card with no logo -->
    <div class="resource-card">
      <div class="card-content">
          <img src="/assets/images/logo1.png" alt="Cloudforce Logo" class="logo aws">
          <div class="card-text">

          <h3>Amazon Web Services Resources</h3>


            
          <a href="https://docs.aws.amazon.com/comprehend-medical/latest/dev/comprehendmedical-welcome.html">Comprehend Medical</a><br>
          <a href="https://catalog.us-east-1.prod.workshops.aws/workshops/116df80f-46d0-4e83-8a9d-ce62d905af42/en-US">AWS HealthScribe</a><br>
          <a href="https://catalog.us-east-1.prod.workshops.aws/workshops/1fd0a2ae-bd67-47a9-8ce3-a1f37396d6bc/en-US">ICD-10 Code Extraction</a><br>
          <a href="https://aws.amazon.com/health/healthcare/solutions/">AWS Healthcare Solutions</a><br>
          <!-- <a href="https://drive.google.com/file/d/1rIef3yh8zAMT_NFMI5waEsEU-_eXSv21/view?usp=sharing">AWS SandBox Accounts</a> -->
        </div>
      </div>
    </div>
  </section>

  <!-- Public Data Sets & Other Resources -->
  <section id="public-datasets" class="resources-section">
    <h2>Public Data Sets & Other Resources</h2>
    
    <!-- Card without logo -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>History & Physical Clinical Notes</h3>
          <p>112 sample size Rutgers local (if interested, write email to RUHealthHack.com)</p>
        </div>
      </div>
    </div>
    
    <!-- More cards... -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>CMS Data 2016 – 2019 – AHRQ</h3>
          <a href="https://www.cms.gov/data-research/statistics-trends-and-reports/medicare-claims-synthetic-public-use-files/cms-2008-2010-data-entrepreneurs-synthetic-public-use-file-de-synpuf">CMS Data</a>
        </div>
      </div>
    </div>

    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>Social Determinants of Health AHRQ Dataset</h3>
          <a href="https://www.ahrq.gov/sdoh/data-analytics/sdoh-data.html#download">AHRQ Dataset</a>
        </div>
      </div>
    </div>
    
    <!-- Card for eICU Collaborative Research Database (Demo) -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>eICU Collaborative Research Database (Demo)</h3>
          <a href="https://physionet.org/content/eicu-crd-demo/2.0.1/">eICU Demo Dataset</a>
        </div>
      </div>
    </div>
    
    <!-- Card for Vital Signs Database (VitalDB) -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>Vital Signs Database (VitalDB)</h3>
          <p>High-resolution multi-parameter data from surgical patients.</p>
          <a href="https://physionet.org/content/vitaldb/1.0.0/">VitalDB Dataset</a>
        </div>
      </div>
    </div>
    
    <!-- Card for AHRQ Hospital Financial Measures Database (HFMD) -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>AHRQ Hospital Financial Measures Database (HFMD)</h3>
          <p>Measures to evaluate the overall financial health, efficiency, and effectiveness of hospitals.</p>
          <a href="https://www.ahrq.gov/data/innovations/hfmd.html">HFMD Dataset</a>
        </div>
      </div>
    </div>
    
    <!-- Card for MUSIC (Sudden Cardiac Death in Chronic Heart Failure) -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>MUSIC (Sudden Cardiac Death in Chronic Heart Failure)</h3>
          <a href="https://physionet.org/content/music-sudden-cardiac-death/1.0.0/">MUSIC Dataset</a>
        </div>
      </div>
    </div>
    
    <!-- Card for Open Datasets in Health & Medicine from UC Irvine -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>Open Datasets in Health & Medicine from UC Irvine</h3>
          <a href="https://archive.ics.uci.edu/datasets?skip=0&take=10&sort=desc&orderBy=NumHits&search=&Area=Health+and+Medicine">UCI Open Datasets</a>
        </div>
      </div>
    </div>
    
    <!-- Card for OpenfMRI -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>OpenfMRI</h3>
          <p>A free platform for MRI, PET, MEG, EEG, and iEEG data sharing.</p>
          <a href="https://openneuro.org">OpenfMRI Main Webpage</a>
          <ul>
            <li><a href="https://legacy.openfmri.org">Legacy Site</a></li>
            <li><a href="https://legacy.openfmri.org/de-identification/">De-identification</a></li>
            <li><a href="https://legacy.openfmri.org/how-to-extract-data/">How to Extract Data</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- Card for DeepLesion Dataset -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>DeepLesion Dataset</h3>
          <p>32,120 axial computed tomography (CT) slices from 10,594 CT scans.</p>
          <a href="https://nihcc.app.box.com/v/DeepLesion">DeepLesion Dataset</a>
        </div>
      </div>
    </div>
    
    <!-- Card for Open Access Series of Imaging Studies (OASIS) -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>Open Access Series of Imaging Studies (OASIS)</h3>
          <p>Neuroimaging datasets of the brain.</p>
          <a href="https://sites.wustl.edu/oasisbrains/">OASIS Dataset</a>
        </div>
      </div>
    </div>
    
    <!-- Card for MHEALTH (Mobile HEALTH) Dataset -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>MHEALTH (Mobile HEALTH) Dataset</h3>
          <p>Body motion and vital signs recordings for ten volunteers during physical activities.</p>
          <a href="https://archive.ics.uci.edu/dataset/319/mhealth+dataset">MHEALTH Dataset</a>
        </div>
      </div>
    </div>
    
    <!-- Card for Synthetic Data – Healthcare -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>Synthetic Data – Healthcare</h3>
          <p>Synthetic datasets for healthcare research and testing.</p>
          <a href="https://www.ahrq.gov/data/innovations/syh-dr.html#datarequest">Synthetic Data</a>
        </div>
      </div>
    </div>
    
    <!-- Card for Other Physiological, Medical and Health Datasets -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>Other Physiological, Medical and Health Datasets</h3>
          <a href="https://www.physionet.org/about/database/">PhysioNet Datasets</a>
        </div>
      </div>
    </div>
    
    <!-- Card for Synthea Patient Generator -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>Synthea Patient Generator</h3>
          <p>Generates synthetic patient data for testing and research.</p>
          <a href="https://github.com/synthetichealth/synthea">Synthea Patient Generator</a>
        </div>
      </div>
    </div>
    
    <!-- Card for REARC Healthcare Datasets -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>REARC Healthcare Datasets</h3>
          <p>Multiple healthcare-related datasets.</p>
          <a href="https://aws.amazon.com/marketplace/search/results?ref_=adx_hp_hr_brw&trk=adx_hp_hr_brw&category=ec21bae5-404b-4bac-825c-f7b0a2c713c4&FULFILLMENT_OPTION_TYPE=DATA_EXCHANGE&CREATOR=a8a86da2-b2d1-4fae-992d-03494e90590b&filters=FULFILLMENT_OPTION_TYPE%2CCREATOR">REARC Datasets</a>
        </div>
      </div>
    </div>
    
    <!-- Card for John Snow Labs Healthcare Datasets -->
    <div class="resource-card">
      <div class="card-content no-logo">
        <div class="card-text">
          <h3>John Snow Labs Healthcare Datasets</h3>
          <p>A wide range of datasets for healthcare analytics.</p>
          <a href="https://aws.amazon.com/marketplace/search/results?ref_=adx_hp_hr_brw&trk=adx_hp_hr_brw&category=ec21bae5-404b-4bac-825c-f7b0a2c713c4&FULFILLMENT_OPTION_TYPE=DATA_EXCHANGE&CREATOR=77f7897e-3e69-4556-a439-cb48e0277d90&filters=FULFILLMENT_OPTION_TYPE%2CCREATOR">John Snow Labs</a>
        </div>
      </div>
    </div>