<br>
<h3><a routerLink="/" class="routing">Rutgers Health Hack</a>  
  <span class="redtext"> > Schedule</span>
</h3>

<mat-card class="bigcard"> 
  <h2>Schedule of Events</h2>
  <p>[PRELIMINARY - times & locations to be finalized 2 weeks prior to event]</p>

  <div class="container">
    <mat-card class="biopic">
      <h3><u>Friday, October 10th</u></h3>
      <p><b>5:00 PM</b> – Kickoff</p>
      <p><b>6:00 PM</b> – Keynote Talk by AWS Chief Medical Officer Jared Saul</p>
      <p><b>8:00 PM onwards</b> – Hacking Begins</p>
    </mat-card>

    <mat-card class="biopic">
      <h3><u>Saturday, October 11th</u></h3>
      <p>Mentoring Sessions</p>
      <p>Hacking all day</p>
    </mat-card>

    <mat-card class="biopic">
      <h3><u>Sunday, October 12th</u></h3>
      <p><b>12:00 PM</b> – Project Submissions Due</p>
      <p><b>5:00 PM</b> – Award Ceremony</p>
    </mat-card>
  </div>
</mat-card>
