<br><h3><a routerLink="/" class="routing">Rutgers Health Hack</a>  <span class="redtext"> > Schedule</span></h3>
<mat-card class="bigcard"> 
<h2>Schedule of Events</h2>
<p>[PRELIMINARY - times & locations to be finalized 2 weeks prior to event]</p>
<div class="container">
<mat-card class="biopic">
    <h3><u>Friday, November 3rd</u></h3>
    <i>Optional Day</i>
    <p>Opening Remarks</p>
    <p>Welcome Dinner / Mixer</p><p>Team Formations</p>
</mat-card>
<mat-card class="biopic">
    <h3><u>Saturday, November 4th</u></h3>
    <p>Team Check-In</p>   
    <p>Breakfast, Lunch, and Dinner provided</p>
    <p>Team Brainstorming and Design</p>
    <p>Meetings with mentors/experts</p>
</mat-card>
<mat-card class="biopic">
    <h3><u>Sunday, November 5th</u></h3>
    <p>Breakfast and Lunch provided</p>
    <p>Team finalization of project</p>
    <p>Pitch ideas</p>
    <p>Winners announced</p>
    <p>Closing remarks</p>
</mat-card>
</div>
</mat-card>

