<br><h3><a routerLink="/" class="routing">Rutgers Health Hack</a>  <span class="redtext"> > Brochure & Details </span></h3>
<br>
<div class="container">
    <img src="https://i.imgur.com/EMC1hmI.jpg" class="brochure"><br>    <!--Title-->
    <img src="https://i.imgur.com/gXKA43b.jpg" class="brochure"><br>    <!--Schedule-->
    <img src="https://i.imgur.com/vKnuE0w.jpg" class="brochure"><br>    <!--Keynote-->
    <img src="https://i.imgur.com/hzIM5IS.jpg" class="brochure"><br>    <!--Sponsors 1-->
    <img src="https://i.imgur.com/x4fAjHS.jpg" class="brochure"><br>    <!--Sponsors 2-->
    <img src="https://i.imgur.com/cUq35Mg.jpg" class="brochure"><br>    <!--Themes-->
    <img src="https://i.imgur.com/Vt6YvMs.jpg" class="brochure"><br>    <!--Prizes-->
    <img src="https://i.imgur.com/WDsNoVz.jpg" class="brochure"><br>    <!--Judges-->
    <img src="https://i.imgur.com/Wqza0Jz.jpg" class="brochure"><br>    <!--Mentors1-->
    <img src="https://i.imgur.com/eHWcIDq.jpg" class="brochure"><br>    <!--Mentors2-->
    <img src="https://i.imgur.com/SdvDWb5.jpg" class="brochure"><br>    <!--Mentors3-->
    <img src="https://i.imgur.com/ISZAfbc.jpg" class="brochure"><br>    <!--Mentors4-->
    <img src="https://i.imgur.com/PpL6HfU.jpg" class="brochure"><br>    <!--Mentors5-->
    <img src="https://i.imgur.com/KnJGIYq.jpg" class="brochure"><br>    <!--Mentors6-->
    <img src="https://i.imgur.com/FreHNSK.jpg" class="brochure"><br>    <!--Mentors7-->
    <img src="https://i.imgur.com/WgcstTk.jpg" class="brochure"><br>    <!--Mentors8-->   
</div>
