.routing {
    margin-left:8vw;
    color:white;
}
.redtext{
    color:#cc0033;
}

.container{
    width:100%;
    text-align:center;
}

.brochure {
    width:900px;
    max-width:99%;
    outline-style:solid;
    outline-color:black;
    margin-bottom:10px;
}
