<div class="contactus-container">
    <div class="contactus-right">
      <div *ngIf="!submitted; else successMessage" class="contactus-card">
        <h1>Contact Us</h1>
        <form class="contact-form" [formGroup]="formContactUs" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Select Category</mat-label>
            <mat-select formControlName="category" required>
              <mat-option value="general">General Inquiry</mat-option>
              <mat-option value="hackathon">Hackathon Issues</mat-option>
              <mat-option value="registration">Registration Problems</mat-option>
              <mat-option value="sponsorship">Sponsorship Opportunities</mat-option>
              <mat-option value="technical">Participant</mat-option>
              <mat-option value="feedback">Feedback</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Your Name" formControlName="name" required>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Your Email" formControlName="email" required email>
          </mat-form-field>
    
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Your Message" formControlName="message" required></textarea>
          </mat-form-field>
    
          <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="!formContactUs.valid">Send</button>
        </form>
      </div>
  
      <ng-template #successMessage>
        <div class="contactus-card">
          <h1>Thank You!</h1>
          <p>Your request has been successfully submitted.</p>
        </div>
      </ng-template>
  
      <div class="social-handles">
        <a href="mailto:ruhealthhack@gmail.com" target="_blank">
          <img src="\assets\images\email.png" alt="Email"> Email Us
        </a>
        <a href="https://facebook.com/yourpage" target="_blank">
          <img src="\assets\images\facebook.png" alt="Facebook"> Facebook
        </a>
        <a href="https://instagram.com/yourpage" target="_blank">
          <img src="\assets\images\instagram.png" alt="Instagram"> Instagram
        </a>
        <a href="https://twitter.com/yourpage" target="_blank">
          <img src="\assets\images\twitter.png" alt="X"> Twitter
        </a>
      </div>
    </div>
  </div>
  