<div id="video-background-container">
    <video autoplay muted loop id="background-video" preload="auto" oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="assets/videos/RHH 2024 Final2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="advertisement-section">
    <div class="triangle-container">
        <div class="triangle-1"></div>
        <div class="triangle-2"></div>
    </div>
    <div class="advertisement-content">
      <h1>2024 Rutgers Healthcare Hackathon</h1>
      <p>Join the Rutgers Health Hackathon and be a part of revolutionizing healthcare. Collaborate, innovate, and create solutions that will shape the future of healthcare.</p>
  
      <div class="sponsors-section">
        <div class="sponsor-item">
            <img src="assets/images/awslogo.png" alt="aws" class="sponsor-logo">
        </div>
        <div class="sponsor-item">
            <img src="assets/images/oraclelogo.png" alt="oracle" class="sponsor-logo">
        </div>
        <div class="sponsor-item">
            <img src="assets/images/micrologo.png" alt="microsoft" class="sponsor-logo">
        </div>
        <div class="sponsor-item">
            <img src="assets/images/nokialogo.png" alt="nokia" class="sponsor-logo">
        </div>
    </div>
  
      <button class="register-button">Register Now</button>
      <div class="child-triangle"></div>
    </div>
  </div>
  
  <div class="theme-header">
    <h2 style="font-size: 48px; font-weight: bold;">Discover Our 2024 Hackathon Themes!</h2>
    <p style="font-size: 20px; color: #666;">Explore the themes that drive our hackathon, designed to address critical challenges in healthcare.</p>
  </div>
  
  
  
<div class="theme-showcase-section" id="themesection">
    <div class="theme-container">
        <div class="theme-item">
            <img src="assets/images/GlobalHealth_whitefont.jpg" alt="Global Health" class="theme-image">
            <div class="theme-overlay">
                <div class="theme-text">
                    <h3>Global Health</h3>
                    <p>This theme focuses on developing innovative solutions to eliminate disparities in healthcare access and outcomes, ensuring high-quality care is accessible to all, regardless of geography, socioeconomic status, or ethnicity.</p>
                </div>
            </div>
        </div>

        <div class="theme-item">
            <img src="assets/images/IIME_whitefont-model2.jpg" alt="Innovation in Medical Education" class="theme-image">
            <div class="theme-overlay">
                <div class="theme-text">
                    <h3>Innovation in Medical Education</h3>
                    <p>This theme focuses on revolutionizing medical education through innovative tools and methods that enhance learning, making it more interactive, comprehensive, and accessible for future healthcare professionals.</p>
                </div>
            </div>
        </div>

        <div class="theme-item">
            <img src="assets/images/PatientOutcomes_Safety_whitefont-model2.jpg" alt="Patient Outcomes & Safety" class="theme-image">
            <div class="theme-overlay">
                <div class="theme-text">
                    <h3>Patient Outcomes & Safety</h3>
                    <p>This theme centers on developing innovative technologies and strategies to enhance patient care and safety, optimize health outcomes through personalized care, and prevent medical errors by leveraging data and predictive analytics.</p>
                </div>
            </div>
        </div>

        <div class="theme-item">
            <img src="assets/images/HOExcellence_whitefont-Model3.jpg" alt="Hospital Operational Excellence" class="theme-image">
            <div class="theme-overlay">
                <div class="theme-text">
                    <h3>Hospital Operational Excellence</h3>
                    <p>This theme focuses on developing innovative solutions to streamline healthcare operations, reduce costs, and improve service delivery by optimizing workflows and resource management.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="testimonials-section" class="testimonials-section">
    <h2>What Participants Say</h2>
    <p>Last year our hackathon inspired and empowered many. Here’s what some of them had to say!</p>

    <div class="testimonials-container">
        <div *ngFor="let testimonial of currentTestimonials" class="testimonial">
            <p class="testimonial-quote">{{ testimonial.quote }}</p>
            <p class="testimonial-author">{{ testimonial.author }}</p>
        </div>
    </div>

    <div class="carousel-controls">
        <button (click)="previousTestimonials()">Previous</button>
        <button (click)="nextTestimonials()">Next</button>
    </div>
</div>
  
  
  
  
  






<!-- 
<div class="container3">



    <mat-card class="homecard">  
        <br>
        <img src="../../assets/images/RWJMS1_S_RED.png" class="MSlogo"> <br>
        <span class="header">Rutgers Health Hack 2024<br> <br>Get Ready to Hack Away! <br></span> <br> 
        <p>A Rutgers University Healthcare Hackathon <br> at Rutgers Robert Wood Johnson Medical School & Robert Wood Johnson University Hospital <br> New Brunswick, NJ <br> November 3-5, 2023</p><br>
     <br> <br>  -->


     
        <!-- <div class="container">
            <mat-card class="icon">
                <img src="../../assets/images/Discover.png" class="iconpic">
            </mat-card>
            <mat-card class="icon">
                <img src="../../assets/images/Collaborate.png" class="iconpic">
            </mat-card>
            <mat-card class="icon">
                <img src="../../assets/images/Design.png" class="iconpic">
            </mat-card>
            <mat-card class="icon">
                <img src="../../assets/images/Test.png" class="iconpic">
            </mat-card>
            <mat-card class="icon">
                <img src="../../assets/images/Iterate.png" class="iconpic">
            </mat-card>
        </div> -->
        <!-- <h2><U>Pitch Competition Live Stream @ 2pm:</U></h2>
        <a mat-raised-button color="accent"  href="https://rutgers.zoom.us/j/97270179350?pwd=OUEzSlJWU0FSZHNmZWx6blZFT3FTZz09"><h1>WATCH LIVE ZOOM STREAM</h1></a> <br> -->
    
        
    <!-- </mat-card> -->
    <!-- </div> -->
    
    <!-- <div class="container3">
        <img src="https://imgur.com/qSACytj.gif" class="winners">
    </div><br><br>
    <div class="container3">
        <img src="https://imgur.com/sj2adaS.gif" class="winners">
    </div><br><br>
    <div class="container3">
        <img src="https://imgur.com/KzzN5Hy.gif" class="winners">
    </div><br><br> -->
    <!-- <div class="container3">
        <img src="https://i.imgur.com/phCdurQ.png" class="themePic">
    </div><br> -->
    <!-- <div class="container3">
        <youtube-player
            videoId="mIQzLNS1LEE"
            suggestedQuality="highres"
            [width]="400"
        >
        </youtube-player><br> <br>
    </div> <br>
    <div class="container3">
        <br>
        <img src="https://i.imgur.com/hzIM5IS.jpg" class="brochure">
    </div>
    <div class="container3">
    
            <img src="https://i.imgur.com/J0zeEtJ.jpg" class="winners">
    </div> -->
    <!-- <mat-card class="homecard">  
        <br>
        <h3>In-Person Only <br> <br> Join us for the upcoming Healthcare Hackathon at Robert Wood Johnson University Hospital in New Jersey!</h3> <br>
            <p>Professionals and Students are encouraged to apply from all relevant fields including: <br>
            Healthcare <br> Computer Science <br> Engineering <br> Artificial Intelligence <br> Business <br> Communications <br> Graphic Design </p>
            <h3 class="redtext">Collaborate</h3>
            <p>No team necessary! <br> Meet a diverse array of potential partners on the first day. Participants will form interdisciplinary teams and will identify a unique healthcare problem worth solving. Together, teammates will lend their unique skills to create an innovative solution that will improve healthcare delivery and outcomes. 
            </p>
            <h3 class="redtext">Innovate</h3>
            <p>
            Time is limited! Teams will work rapidly to iterate their idea through the development cycle with expert mentors close at hand for guidance. Teams are encouraged to formulate feasible solutions with sustainable business/production plans. The hackathon will last 48 hours.
            </p>
            <h3 class="redtext">Pitch</h3>
            <p>
                Teams will pitch their ideas and submit preliminary business plans to our panel of judges. Winners will be decided on the last day. 
            </p>
            <h3 class="redtext">Opportunities</h3>
            <p>Over $10,000 in cash prizes <br> <br> Carry your idea into the clinical research phase right here at Rutgers! <br> <br> Networking with potential investors <br> <br> Don't miss out on your chance to be a part of something great!</p>
            <br>
            <div class="container">
    
            <button mat-raised-button color="accent" class="button" routerLink="/brochure">VIEW EVENT DETAILS</button>
    
            </div>
            <img src="https://i.imgur.com/AqHA0bA.jpg" class="locPic">  <br> <i>New Brunswick, NJ</i>   
    </mat-card>
    </div>
    <div class="container3">
    
            <br>
                 <br>  
    
        </div>
    <div class="container3">
        <mat-card class="homecard">
            <div class="containerP">
                <h3>FAQ</h3>
                <p><b class="redtext">What Is A Hackathon?</b><br><br>
                A healthcare hackathon is an event where multidisciplinary teams including 
                healthcare professionals, engineers, designers, developers, and business experts 
                come together to collaborate on solving healthcare-related problems using 
                technology and innovation. It is organized as a competitive event where teams 
                work on a variety of problems over 3 days and eventually pitch their proposal to a 
                panel of judges.
                </p>
                <p><b class="redtext">What is the purpose of this event?</b><br><br>
                    The hackathon environment encourages collaboration, rapid prototyping, and 
                    innovative thinking. Participants are encouraged to think outside the box, find 
                    creative ways to address healthcare challenges, leverage emerging technologies, 
                    and improve the overall quality of healthcare. Participants and mentors get an 
                    opportunity to network with each other, and winning teams could be able to 
                    seek additional seed funding. 
                </p>
                <p><b class="redtext">Who Can Participate?</b><br><br>
                    Everyone has something to offer a winning team! We are looking for passionate individuals from a variety of 
                    backgrounds (physicians, nurses, engineers, developers, entrepreneurs, business) 
                    and different career stages (undergraduate/graduate/early and late career) from all 
                    over the country. Interested participants will apply through an online form and 
                    coordinators will select participants to emphasize diversity in backgrounds/career 
                    stages. All participants will need to be on site and in person.
                </p>
                <p><b class="redtext">Where and When is the Event?</b><br><br> 
                    The event will be held at Robert Wood Johnson University Hospital and the connected CAB and MEB buildings
                    of Rutgers Robert Wood Johnson Medical School.<br> <br>
                    Friday, November 3rd through Sunday, Novenber 5th 2023 <br> <br>
                    Robert Wood Johnson University Hospital<br>
                    1 Robert Wood Johnson Place<br>
                    New Brunswick, NJ 08901<br> <br>
                    Clinical Academic Building (CAB)<br>
                    Rutgers Robert Wood Johnson Medical School <br>
                    125 Paterson St. <br>
                    New Brunswick, NJ 08901 <br>            
                </p>
                <p><b class="redtext">How Much Does it Cost to Participate?</b><br><br> 
                    There is no entry fee for participants. Food will be provided Friday night through Sunday afternoon. Lodging will not be provided.
                </p>
                <p><b class="redtext">How Do You Win?</b><br><br> 
                    At the end of the hackathon, teams present their solutions to a panel of judges who 
                    evaluate the proposals based on various criteria such as innovation, feasibility, 
                    impact, and scalability. Monetary prizes will be awarded to winning teams-<br>
                    Over $10,000 in cash prizes planned
                </p>
                <p><b class="redtext">How Do I Apply?</b><br><br>
                    <b>Each individual on a proposed team must apply separately!</b> <br>
                    Follow the instructions on the user portal / registration page to verify a contact E-mail address. Once verified, a link on the user portal will open to you for your application. <br>
                    Your application will be reviewed, and acceptance notifications for participation will be E-mailed on a rolling basis starting in Mid-September.
                </p>
                <p><b class="redtext">What is the registration deadline?</b><br><br>
                    Applications must be submitted for participation by Sunday, October 15th, 2023 at 11:59pm.
                </p>
                <p><b class="redtext">Where Can I Stay?</b><br><br>
                    If you're coming from out of town, New Brunswick has several options for lodging. <a href="https://www.theheldrich.com/" class="redtext">The Heldrich Hotel</a> 
                    and <a href="https://www.hyatt.com/en-US/hotel/new-jersey/hyatt-regency-new-brunswick/ewrrn" class="redtext">Hyatt Regency New Brunswick</a> are both within walking 
                    distance of the hospital and situated in the lively downtown area. These may book fast since November 4th is a RU football home-game against OSU. There are several other 
                    nearby hotels in Somerset and East Brunswick with easy 10-min Uber/Lyft rides into downtown.
                </p>
                <p><b class="redtext">Questions?</b><br><br>
                    You can email us at: ruhealthhack@gmail.com
                </p>
            </div>
    
        </mat-card>
    </div>
    
    <div class="container3">
        <img src="https://i.imgur.com/vKnuE0w.jpg" class="brochure">
    
    </div> -->
    
    
    
    
    
<div class="producer-tag">
    <img src="assets/images/RBHS_REVWHITE.png" alt="Production Logo" class="producer-logo">
    <span class="producer-text">@Rutgers 2024, @RWJMS 2024</span>
  </div>